{% extends 'core/base.html' %}

{% block content %}
<div class="container">
	<h2 class="bd-title py-md-3">About MBTA API Playground</h2>
	<p>Design and build your own queries, then explore the results. Export them to CSV, or create bokeh plots.</p>
    <h3>Resources</h3>
    <ul>
    	<li><a href="https://www.mbta.com/developers/v3-api">MBTA Developers Page</a></li>
    	<li><a href="https://api-v3.mbta.com/docs/swagger/index.html">Swagger API Documentation</a></li>
    	<li><a href="https://developers.google.com/transit/gtfs/">GTFS Overview</a></li>
    </ul>
</div>
{% endblock %}