<div class="modal" tabindex="-1" role="dialog" id="modal-loading-screen" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content justify-content-center align-items-center">
      <div id="loading-screen-message">Loading...</div>
      <div class="d-inline align-items-center">
        <div class="spinner-grow m-2"></div>
        <div class="spinner-grow m-2"></div>
        <div class="spinner-grow m-2"></div>
      </div>
    </div>
  </div>
</div>