/*
	MBTA API Playground basic styles
*/

body {
	padding-top: 65px;
	padding-bottom: 65px;
}


.checkbox-list {
	list-style: none;
	padding-inline-start: 10px;
}

.github-icon {
	-webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
    filter: invert(100%);
}

/*
	Mobile settings
*/

@media screen and (max-width: 450px) {

	body {
		font-size: small;
	}

}
