ul {
	list-style: none;
	padding-inline-start: 10px;
}

#filters_list {
	padding-inline-start: 10px;
}

.form-group {
	margin-bottom: .5rem;
}

/* for mobile */
@media screen and (max-width: 450px) {

	body {
		font-size: small;
	}

	.form-control {
		font-size: small;
	}

}