table {
    border-collapse: collapse;
    border-spacing: 0;
}

table thead th {
    border-top: 2px solid #dee2e6;
}

.form-checkbox-list {
	list-style: none;
	padding-inline-start: 10px;
}

/* for mobile */
@media screen and (max-width: 450px) {

	body {
		font-size: small;
	}

	.nav-tabs li a {
		padding: .5rem .5rem .5rem .5rem;
	}

}
