{% extends 'core/base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% include "core/modal.html" %}
<style>
    ul {
        list-style: none;
    }
</style>
<div class="container">
    <h2 class="bd-title py-md-3">Create a query</h2>
    <p>Select an object, any additional objects you'd like to include, and the attributes (i.e. columns) that you want in the results.</p>
    <hr>
    <form action="" method="post">{% csrf_token %}
        <div class="form-group{% if form.primary_object.errors %} invalid{% endif %}">
            {{ form.primary_object.label_tag }}
            {% render_field form.primary_object class+="form-control" %}
            {% for error in form.primary_object.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <hr>
        <div class="form-group{% if form.includes.errors %} invalid{% endif %}">
            {{ form.includes.label_tag }}
            {{ form.includes }}
            {% for error in form.includes.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <hr>
        <div class="form-group{% if form.attributes.errors %} invalid{% endif %}">
            {{ form.attributes.label_tag }}
            {{ form.attributes }}
            {% for error in form.attributes.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <hr>
        {{ form.filters }}
        <div class="form-group {% if form.filters.errors %} invalid{% endif %}">
            <label>Filters</label>
            <ul id="filters_list">
                <!-- Javascript in create/filters.js will fill in this list -->
            </ul>
            {% for error in form.filters.errors %}
            <p class="help-block">{{ error }}</p>
            {% endfor %}
        </div>
        <hr>
        <button type="submit" class="save btn btn-primary btn-lg" id="get_results_btn">Get Results</button>
    </form>
</div>
{% endblock content %}

{% block extrascripts %}
{{ endpoints|json_script:"endpoints" }}
<script type="module" src="{% static 'js/create/main.js' %}"></script>
{% endblock extrascripts %}